<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Currency Converter</h1>
    <form action="/">
      <label for="from">Converting from</label>
      <input type="text" name="from" id="" />

      <label for="to">Converting to</label>
      <input type="text" name="to" id="" />

      <label for="amount">Amount</label>
      <input type="text" name="amount" id="" />

      <button>Convert</button>

    </form>
    <h2>{{error_message}}</h2>
    <h2>The result is {{currency}}{{result}}</h2>
  </body>
</html>
