<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home</h1>
    <form action="/">
      <label for="currency_from">Converting from</label>
      <input type="text" name="currency_from" id="" />

      <label for="currency_to">Converting to</label>
      <input type="text" name="currency_to" id="" />

      <label for="amount">Amount</label>
      <input type="text" name="amount" id="" />

      <button>Convert</button>
    </form>
  </body>
</html>
